.employeesListItem{
    background-color: white;
    border-radius: 30px;
    list-style: none;
    padding: 13px 37px 9px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.namLang{
    
}
.employeesList{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 20px;
}