@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(130deg, #4f96d8, #2e5d87);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.employees {
    color: white;
    font-size: 64px;
    margin-top: 55px;
}
.search {
    width: 100%;
    border-radius: 50px;
    padding: 11px 50px;
    background-repeat: no-repeat;
    background-position: right+20px center;
    font-size: 21px;
    margin-top: 30px;
    border: solid 1px gray;
}

.searchIcon {
}
.twoIcons {
}
.content {
    margin-left: calc(15% + 51px);
    width: 70%;
}
.browse{
    text-align: right;
    margin-top: 36px;
}
.browse button{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.browse .active{
    border-color: #7AB929;
    background-color: #7AB929;
}
.notFound{
    text-align: center;
}
.notFound img{
    width: 200px;
    margin-top: 25%;
}