* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(130deg, #4f96d8, #2e5d87);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
