@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(130deg, #4f96d8, #2e5d87);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.employees {
    color: white;
    font-size: 40px;
    margin-top: 55px;
}
.search {
    width: 100%;
    border-radius: 50px;
    padding: 11px 50px;
    background-repeat: no-repeat;
    background-position: right+20px center;
    font-size: 21px;
    margin-top: 30px;
    border: solid 1px gray;
}
.content {
    margin-left: calc(15% + 51px);
    width: 70%;
}
.browse{
    text-align: right;
    margin-top: 36px;
}
.browse button{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.browse .active{
    border-color: #7AB929;
    background-color: #7AB929;
}
.notFound{
    text-align: center;
}
.notFound img{
    width: 200px;
    margin-top: 25%;
}
.add-form{
    background-color: white;
    margin-top: 25px;
    padding: 35px 25px 100px 25px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.329);
    text-align: right;
}
.add-form input{
    width: 100%;
    padding: 10px 25px;
    outline: none;
    border: 1px solid #2e5d87;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 21px;
}
.add-form button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #7AB929;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 21px;
}
.add-form input.error{
    border-color: red;

}
.error-message{
    background-color: red;
    color: white;
    display: block;
    text-align: center;
    border-radius: 30px;
    visibility: hidden;

}
.add-form input.error + span{
    visibility: visible;
}
.add-form button:disabled{
    background-color: darkgrey;
    
}
.card{
    max-width: 30px;
}